.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-loading {
    margin-top: 10%;
    height: 128px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-desc {
    color: #61DAFB;
    font-family: monospace;
    font-size: 1.2em;
    font-variant-caps: all-small-caps;
}

.App-desc a {
    color: #61DAFB;
    text-decoration: none;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
