body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cardWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 80%;
    margin: 2% auto;
}

.card {
    padding: 2px;
    min-width: 30%;
    max-width: 50%;
    margin: 2px auto;
    border-radius: 4px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.43);
}