body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #efefef;
}

p {
    font-size: 1em;
    color: #555;
}

em {
    font-size: .8em;
    color: #555;
}

a {
    color:#4e7ba8;
}

.cardWrapper {
    display: flex;
	align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2% auto;
}

.card {
    position: relative;
    padding: 1%;
	min-height: 20%;
	min-width: 20%;
    background-color: #fff;
    margin: .5% auto;
    border-radius: 4px;
    box-shadow: 2% 2% 12% rgba(0, 0, 0, 0.15);
    transition: ease .7s;
}

.card:hover img {
    transition: .2s;
    filter: blur(4px);
    filter: brightness(30%);
}

.card:hover h1 {
    opacity: 1;
    transition: ease 1s;
	cursor: default;
}

.card:hover h2 {
    opacity: 1;
    transition: ease 1s;
	cursor: default;
}

.card img {
    width: 90%;
    margin: 1% auto;
}

.card h1 {
    opacity: 0;
    transition: ease .3s;
    color: white;
    text-shadow: 1px 1px 4px #222;
    font-style: italic;
    font-family: serif;
    font-weight: 400;
	font-size: 1.85em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 50%;
    margin: auto;
    text-align: center;
}


.card h2 {
    opacity: 0;
    transition: ease .3s;
    color: white;
    text-shadow: 1px 1px 4px #222;
    font-family: serif;
    font-weight: 400;
	font-size: 1.25em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 5%;
    margin: auto;
    margin-bottom: 15%;
    text-align: center;
}

.card p {
	padding: 0em 1em;
}

button {
	background-color: #333;
    padding: 1em;
    top: 15px;
    right: 15px;
    font-weight: 600;
    position: absolute;
	color: #61DAFB;
	border-radius: 8px;
	cursor: pointer;
    float:right;
}