body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cardWrapper {
    display: flex;
	align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2% auto;
}

.card {
    padding: 2px;
    width: 40%;
    
    margin: 1% auto;
    border-radius: 4px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 90%;
    margin: 1% auto;
}

.card h1 {
	font-size: 1.2em;
}

.card p {
	padding: 0em 1em;
}

button {
	margin: 2% auto;
	background-color: #222;
	color: #fff;
	border-radius: 8px;
	padding: 1em;
	font-size: 1.2em;
	cursor: pointer;
}